= turbo_frame_tag "flash" do
  - if flash[:success]
    = render AlertComponent.new(type: :success, message: flash[:success])
  - if notice
    = render AlertComponent.new(type: :info, message: notice)
  - if alert
    = render AlertComponent.new(type: :error, message: alert)
