= turbo_frame_tag 'cars', src: cars_path do
  %table.table.table-normal.table-zebra.mt-8.text-center.w-full
    %thead
      %tr
        %th Make
        %th Model
        %th Year
        %th Mileage
        %th Car Type
        %th Color
        %th License Plate
        %th Transmission
        %th Doors
        %th Rented
        %th Created
    %tbody
      - 20.times do
        %tr
          %td.h-14.animate-pulse
          %td.h-14.animate-pulse
          %td.h-14.animate-pulse
          %td.h-14.animate-pulse
          %td.h-14.animate-pulse
          %td.h-14.animate-pulse
          %td.h-14.animate-pulse
          %td.h-14.animate-pulse
          %td.h-14.animate-pulse
          %td.h-14.animate-pulse
          %td.h-14.animate-pulse
